@import "../../util/variables";
nav {
  background-color: $black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid $red-pink;
}
.logo-and-links {
  flex-basis: 50%;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  .logo {
    font-family: $staatliches;
    font-size: 1.75rem;
    letter-spacing: 1.5px;
    text-decoration: none;
    border-right: 3px solid $red-pink;
    color: white;
    padding: 0 0.5em 0 0.5em;

    &:hover {
      cursor: pointer;
      color: $red-pink;
    }
  }

  span {
    margin: 0 0.5em 0 0.5rem;

    &:hover {
      cursor: pointer;
      color: $red-pink;
    }
  }

  img {
    height: 34px;
    width: 34px;

    &:hover {
      filter: brightness(0) saturate(100%) invert(29%) sepia(99%) saturate(1320%) hue-rotate(324deg) brightness(87%)
        contrast(92%);
    }
  }
}
.nav-list {
  flex-basis: 50%;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  list-style-type: none;
  font-family: $staatliches;

  li {
    margin-right: 1em;
    font-size: 2rem;

    &:hover {
      color: $red-pink;
      cursor: pointer;
    }
  }
}
