@import "../../util/variables";
.slick-slider {
  color: white;
  width: 100%;

  .slick-arrow {
    position: absolute;
    z-index: 999;
    top: 44% !important;
    width: 5em !important;
    height: 5em !important;
  }
  .slick-prev {
    left: 25% !important;
    top: -40% !important;

    &::before {
      font-size: 3rem !important;
    }
  }
  .slick-next {
    right: 25% !important;
    top: -40% !important;
    &::before {
      font-size: 3rem !important;
    }
  }

  img {
    height: 100%;
    width: 95%;
    margin: 0 auto;
    &:hover {
      border-bottom: 2px solid $red-pink;
    }
  }

  .slick-slide {
    opacity: 50%;

    &:hover {
      cursor: pointer;
    }
  }
  .slick-center {
    opacity: 100%;

    &:hover {
      cursor: default;
    }

    margin-bottom: 3em;
    img {
      border: 3px solid $red-pink;
    }
  }
}
.project-info {
  width: 80%;
  margin: 0 auto;

  ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    width: 50%;
    margin: 0 auto;
    li {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }
  }

  h3 {
    font-size: 1.8rem;
    font-family: roboto;
  }
  .project-links {
    padding-bottom: 2em;
    justify-content: center;

    li {
      padding: 0 1em;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: flex-end;
      position: relative;

      img {
        flex-basis: 60%;
        height: 32px;
        width: 32px;
        &:hover {
          cursor: pointer;
        }
      }
      .website-not-live {
        flex-basis: 60%;
        opacity: 50%;

        &:hover {
          cursor: default;
        }
      }

      span {
        flex-basis: 40%;
        font-size: 1rem;
        font-family: roboto;
        padding-top: 0.5em;
      }
    }
  }
  .tech-stack-list {
    padding-bottom: 3em;
    justify-content: space-evenly;

    li {
      font-family: roboto;
      text-transform: capitalize;
      img {
        height: 2em;
        width: 2em;
        filter: $svg-white;
      }
    }
  }
  .project-description {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2em;
    font-family: roboto;
    font-size: 1rem;
  }
}
